*.xrpt
*.ngc
*.lso
*.bld
*.log
*.bgn
*.twr
*.twx
*.xwbt
*.rbt
*.par
*.pad
*.bin
*.ngm
*.ngd
*.pcf
*.ptwx
*.ncd
*.xpi
*.drc
*.bit
*.html
*.mrp
*.map
/synthesis/config_S6LX9.bat
/synthesis/*.txt
/synthesis/*.csv
/synthesis/xlnx_auto_0_xdb
/synthesis/_xmsgs