CONFIG VCCAUX=3.3;

############################################################################	
# Silicon Labs CP2102 USB-to-UART Bridge Chip
############################################################################	
NET USB_RS232_RXD     LOC = A16  | IOSTANDARD = LVCMOS33;               # "USB_RS232_RXD"
NET USB_RS232_TXD     LOC = B16  | IOSTANDARD = LVCMOS33;               # "USB_RS232_TXD"
    
    
NET USER_RESET      LOC = T15  | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "USER_RESET_N"
NET USER_RESET      TIG;

NET CLOCK_Y3          LOC = L15 | IOSTANDARD = LVCMOS33;               # "CLOCK_Y3"
NET CLOCK_Y3 TNM_NET = CLOCK_Y3;
TIMESPEC TS_CLOCK_Y3 = PERIOD CLOCK_Y3 100000 kHz;

NET LED_TX LOC = "U18"; # Bank = 1, Pin name = IO_L52N_M1DQ15, 	   Sch name = LD0
NET LED_RX LOC = "M14"; # Bank = 1, Pin name = IO_L53P, 		 	   Sch name = LD1
NET LED_HEARTBEAT LOC = "N14"; # Bank = 1, Pin name = IO_L53N_VREF, 	   Sch name = LD2